.product-wrapper {
    margin-top: 30px;
}

.row-wrapper {
    margin-bottom: 30px;
    margin-left: 30px !important;

}
.table-wrapper {
    margin-left:30px;
    // margin-right: 30px !important;   
}

.table-sortable > thead > tr > th {
    cursor: pointer;
    position: relative;
  }
  
  .table-sortable > thead > tr > th:after,
  .table-sortable > thead > tr > th:after,
  .table-sortable > thead > tr > th:after {
    content: ' ';
      position: absolute;
    height: 0;
    width: 0;
    right: 10px; /* (right padding / 2) - arrow width */
    top: 16px; /* ((padding * 2) + line height) - arrow height */
    /** As pointed out by Dave Everitt in 
     * https://css-tricks.com/snippets/css/css-triangle/
     * The arrow is not an equilateral triangle.
     * the height is 86.6% of the width.
     * Notice the above code does not subract the border 
     * width exactly. It is subtracting
     * (rounded) border width * 86.6%
     **/
  }
  
  /* Ascending sortable indicator */
  .table-sortable > thead > tr > th.asc:after {
    border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    border-top: 0px solid transparent;
      border-bottom: 5px solid #333;
  }
  .table-sortable > thead > tr > th.asc:hover:after {
      border-bottom: 5px solid #888;
  }
  /* !Ascending */
  
  /* Descending sortable indicator */
  .table-sortable > thead > tr > th.desc:after {    
    border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    border-top: 5px solid #333;
      border-bottom: 5px solid transparent;
  }
  /* !Descending */
  
  
  /* Heading styles */
  h2.page-header {
    margin-top: 0px;
    padding-top: 0px;
    line-height: 15px;
    vertical-align: middle;
  }
  h1 > .divider:before,
  h2 > .divider:before,
  h3 > .divider:before,
  h4 > .divider:before,
  h5 > .divider:before,
  h6 > .divider:before,
  .h1 > .divider:before,
  .h2 > .divider:before,
  .h3 > .divider:before,
  .h4 > .divider:before,
  .h5 > .divider:before,
  .h6 > .divider:before {
    color: #777;
    content: "\0223E\0020";
  }

  .empty-product{
    text-align: center;
  }